@charset "utf-8";

html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header{
  background: pink;
  height: 160px;
}

.container{
  display: flex;
  flex: 1;
}

main{
  background: skyblue;
  flex: 1;
}

aside{
  background: orange;
  width: 160px;
}

nav{
  background: red;
  width: 160px;
  order: -2;
}

footer{
  background: gray;
  height: 160px;
}